<html>

<body>
    <h1>
        <%= title %>
    </h1>
    <form method="POST" action="/new">
        <input type="text" name="author">
        <input type="text" name="message">
        <button type="submit">Send</button>
    </form>

</body>

</html>